# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
node_modules/

# Flask
instance/
.webassets-cache

# Docker
.docker_data/
postgres_data/

# OS
.DS_Store
.idea/
.vscode/

# User Uploads (do not track large user content)
uploads/
!uploads/.gitkeep
